In [1]:
import pandas as pd

In [3]:
movies = pd.read_clipboard()

In [4]:
movies

,ID,Name,Industries,Genre,Language,Duration,Rating
0,1,Baahubali,Tollywood,Action,Telugu,170,9.5
1,2,Bragmastra,Bollywood,Mystereous,Hindi,180,5.0
2,3,Uri-The Surgical strike,bollywood,Action,Hindi,150,10.0
3,4,Avengers,Hollywood,Action,English,180,9.0
4,5,Tenet,Hollywood,SciFi,English,150,8.5
5,6,DDLJ,Bollywood,Romantic,Hindi,150,10.0
6,7,Major,Bollywood,Action,Hindi,150,8.0
7,8,Intersteller,Hollywood,SciFi,English,150,7.0
8,9,Gravity,Hollywood,SciFi,English,130,6.0
9,10,Titanic,Hollywood,Drama,English,180,9.0
10,11,yeh jawani h diwani,Bollywood,Romantic,Hindi,150,5.0
11,12,Housefull,Bollywood,comedy,Hindi,150,6.0
12,13,The Dictator,Hollywood,comedy,English,120,7.0
13,14,Hera Pheri,Bollywood,comedy,Hindi,140,9.0
14,15,Sholay,Bollywood,Drama,Hindi,150,8.5

In [5]:
movies = pd.read_csv(r'mymovies.csv')

In [6]:
movies

,ID,Name,Industries,Genre,Language,Duration,Rating
0,1,Baahubali,Tollywood,Action,Telugu,170,9.5
1,2,Bragmastra,Bollywood,Mystereous,Hindi,180,5.0
2,3,Uri-The Surgical strike,bollywood,Action,Hindi,150,10.0
3,4,Avengers,Hollywood,Action,English,180,9.0
4,5,Tenet,Hollywood,SciFi,English,150,8.5
5,6,DDLJ,Bollywood,Romantic,Hindi,150,10.0
6,7,Major,Bollywood,Action,Hindi,150,8.0
7,8,Intersteller,Hollywood,SciFi,English,150,7.0
8,9,Gravity,Hollywood,SciFi,English,130,6.0
9,10,Titanic,Hollywood,Drama,English,180,9.0
10,11,yeh jawani h diwani,Bollywood,Romantic,Hindi,150,5.0
11,12,Housefull,Bollywood,comedy,Hindi,150,6.0
12,13,The Dictator,Hollywood,comedy,English,120,7.0
13,14,Hera Pheri,Bollywood,comedy,Hindi,140,9.0
14,15,Sholay,Bollywood,Drama,Hindi,150,8.5

In [ ]:
# 1 FIND THE LONGEST MOVIE NAME

In [10]:
movies['Duration'].argmax()

1

In [13]:
movies['Name'][movies['Duration'].argmax()]

'Bragmastra'

In [14]:
# 2 NUMBER OF MOVIES WHO GOT 10 RATING

In [27]:
sum(movies['Rating']==10)

2

In [28]:
# 3 how many industries are there ?

In [32]:
movies['Industries'].value_counts()

Bollywood    7
Hollywood    6
Tollywood    1
bollywood    1
Name: Industries, dtype: int64

In [34]:
len(movies['Industries'].value_counts())

4

In [35]:
movies['Industries'].nunique()

4

In [36]:
 # 4 find least liked comedy movie ?

In [50]:
movies['Name'][movies[movies['Genre']=='comedy']['Rating'].idxmin()]

'Housefull'

In [51]:
# 5 findest the english movie  movie ?

In [61]:
movies['Name'][movies[movies['Language'] == 'English']['Duration'].idxmax()]

'Avengers'

In [62]:
movies

,ID,Name,Industries,Genre,Language,Duration,Rating
0,1,Baahubali,Tollywood,Action,Telugu,170,9.5
1,2,Bragmastra,Bollywood,Mystereous,Hindi,180,5.0
2,3,Uri-The Surgical strike,bollywood,Action,Hindi,150,10.0
3,4,Avengers,Hollywood,Action,English,180,9.0
4,5,Tenet,Hollywood,SciFi,English,150,8.5
5,6,DDLJ,Bollywood,Romantic,Hindi,150,10.0
6,7,Major,Bollywood,Action,Hindi,150,8.0
7,8,Intersteller,Hollywood,SciFi,English,150,7.0
8,9,Gravity,Hollywood,SciFi,English,130,6.0
9,10,Titanic,Hollywood,Drama,English,180,9.0
10,11,yeh jawani h diwani,Bollywood,Romantic,Hindi,150,5.0
11,12,Housefull,Bollywood,comedy,Hindi,150,6.0
12,13,The Dictator,Hollywood,comedy,English,120,7.0
13,14,Hera Pheri,Bollywood,comedy,Hindi,140,9.0
14,15,Sholay,Bollywood,Drama,Hindi,150,8.5